[http]
  cookiefile = /Users/carlosvilla/.gitcookies
[core]
  editor = /usr/bin/vim
[user]
	name = Iván Mercado
	email = c_ivanmercado@hotmail.com
[credential]
  helper = cache
[apply]
  whitespace = warn

[commit]
  template = ~/scripts/.commit-message-template

[alias]
  s = status
  last = cat-file commit HEAD
  co = checkout
  pom = pull origin master
  ca = commit --amend
  cr = !sh -c \"git push origin HEAD:refs/for/$1\"
