[http]
  cookiefile = /Users/carlosvilla/.gitcookies
[core]
  editor = /usr/bin/vim
[user]
	name = Iván Mercado
	email = c_ivanmercado@hotmail.com
[credential]
  helper = cache
[apply]
  whitespace = warn
[alias]
  s = status
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
  last = cat-file commit HEAD
  co = checkout
  pom = pull origin master
  po = pull origin
  ca = commit --amend
  cr = !sh -c \"git push origin HEAD:refs/for/$1\"
